/* components */
@import './components/buttons.css';
@import './components/scroll-nav.css';

/* config files */
@import './config/reset.css';
@import './config/var.css';

/* layout files */
/* @import './layout/index.css'; */

/* theme files */
@import './theme/nav.css';
@import './theme/galeria-slider.css';
@import './theme/about-us.css';
@import './theme/mission-and-vision.css';
@import './theme/services.css';
@import './theme/portfolio.css';
@import './theme/footer.css';
@import './theme/donation.css';
/* components files */




