.about-us{
  /*   background-color: #061138; */
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .about-us__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 46.5rem;
  }
  
  .about-us__container__row{
    display: flex;
    grid-gap: 20px;
    justify-content: space-around;
    width: 100%;
  }

  .about-us__container__row__img-1{
    position: absolute;
    object-fit: cover;
    border-radius: 5%;
    border: 10px solid var(--color-white);
    width: 200px;
    height: 240px;
  }
  .about-us__container__row__img-2{
    border-radius: 5%;
    margin-top: 3rem;
    margin-left: 6rem;
    width: 400px;
    height: 466px;
  }

  .about-us__container__row__text{
    width: 525px;
    height: 100%;
  }

  .about-us__container__row__text__title{
    padding: 0px 0px 10px 0px;
    color: var(--color-blue);
  }

  .about-us__container__row__text__sub-title{
    color: #0c182d;
    overflow-wrap: anywhere;
    font-size: 40px;
    margin: auto;
    font-weight: 700;
    line-height: 1.4;
  }

  .about-us__container__row__p{
    cursor: pointer;
    margin: 1.875rem 0 1.875rem 0;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 8; /* number of lines to show */
           line-clamp: 6; 
   overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
    color: rgb(99, 99, 99);
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
  }

  .about-us__container__row__p:active{
    cursor: pointer;
    display: block;
  }