.donation {
  margin-bottom: 0;
}
.donation__container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 29.29rem;
  margin-top: 0.5rem;
}

.donation__container__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.donation__container__row__img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  position: relative;
 /*  background-image: url("/assets/Donation/Donation.jpeg"); */
  background-image: url("/Fundacion-para-el-desarrollo-del-pacifico-sur/assets/Donation/Donation.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.donation__container__row__img::before{
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 67, 0.757);
  position: absolute;
  top: 0;
  left: 0;
}

.donation__container__row__title{
  border-radius: 1%;
  padding: 1.5rem;
  background-color: var(--color-white);
  z-index: 100;
}

.donation__container__row__title__text{
  color: var(--color-blue);
  font-size: 2.7rem;
}

.donation__container__row__icons{
  width: 500px;
  height: 100px;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  z-index: 100;
}

.donation__container__row__icon-img{
  width: 234px;
  height: 80px;
  padding: 1rem;
}

.donation__container__row__icon__title{
  display: flex;
  height: auto;
  align-items: center;
  color: var(--color-blue);
  background-color: var(--color-white);
}
.donation__container__row__icon__title-text{
  text-align: center;
  border-left: 2.7px solid rgb(99, 99, 99);
  width: 230px;
  height: auto;
}

.donation__container__row__title__p{
  font-size: 18px;
  text-align: initial;
  margin-bottom: 26px;
  color: rgb(99, 99, 99);
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 300;
}

.donation__container__row__title__icons{
  display: flex;
  margin: 1.5rem 0;
  margin-top: 0;
  justify-content: center;
}

.donation__container__row__title__icon{
  display: flex;
  width: 110px;
  height: 110px;
}
