.mission-and-vision{
  /*   background-color: #061138; */
    margin-bottom: 0;
  }
  .mission-and-vision__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 46.5rem;
  }
  
  .mission-and-vision__container__row{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mission-and-vision__container__row__mission__container-triangule{
    padding: initial;
    width: 36%;
    z-index: -100;
    position: absolute;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }

  .mission-and-vision__container__row__mission__triangule{
    position: absolute;
     width: 0; 
     height: 0; 
     border-left: 100px solid rgba(255, 0, 0, 0.107);
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent; 
  }

  .mission-and-vision__container__row__mission__container-triangule-1{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    z-index: -100;
    width: 33%;
    position: absolute;
    height: 80%;
  }

  .mission-and-vision__container__row__mission__triangule-1{
    position: absolute;
     width: 0; 
     height: 0; 
     transform: rotate(180deg);
     border-left: 250px solid rgba(255, 251, 0, 0.107);
     border-top: 200px solid transparent;
     border-bottom: 200px solid transparent; 
  }

  .mission-and-vision__container__row__title{
    margin-bottom: 15px;
    color: var(--color-blue);
  }
  .mission-and-vision__container__row__mission__p{
    font-size: 18px;
    text-align: initial;
    margin-bottom: 26px;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7; /* number of lines to show */
           line-clamp: 6; 
   overflow: hidden;
   cursor: pointer;
    color: rgb(99, 99, 99);
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  .mission-and-vision__container__row__mission__p:active{
    cursor: pointer;
    display: block;
  }

  .mission-and-vision__container__row__mission{
    width: 525px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 30px;
    box-shadow: 0px 1px 11.04px 4.96px rgba(185, 175, 175, 0.52);
  }

  .mission-and-vision__container__row__mission__icons{
    text-align: center;
    margin: 0 auto 15px;
    width: 120px;
    line-height: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid var(--color-blue);
    transition: all 0.3s;
  }

  .mission-and-vision__container__row__mission__icons:hover{
    background-color: var(--color-blue);
  }

  .mission-and-vision__container__row__mission__icon{
    width: 50px;
    text-align: center;
    margin: 0 auto;
  }

  .container__row__mission__icon-bullseye-arrow{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  .mission-and-vision__container__row__vision{
    width: 525px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 30px;
    box-shadow: 0px 1px 11.04px 4.96px rgba(185, 175, 175, 0.52);
  }

  .mission-and-vision__container__row__vision__container-triangule{
    padding: initial;
    width: 36%;
    z-index: -100;
    position: absolute;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }

  .mission-and-vision__container__row__vision__triangule{
    position: absolute;
     width: 0; 
     height: 0; 
     border-left: 100px solid rgba(255, 0, 0, 0.107);
     border-top: 50px solid transparent;
     border-bottom: 50px solid transparent; 
  }

  .mission-and-vision__container__row__vision__container-triangule-1{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    z-index: -100;
    width: 34.3%;
    position: absolute;
    height: 80%;
  }

  .mission-and-vision__container__row__vision__triangule-1{
    position: absolute;
     width: 0; 
     height: 0; 
     transform: rotate(180deg);
     border-left: 250px solid rgba(255, 251, 0, 0.107);
     border-top: 200px solid transparent;
     border-bottom: 200px solid transparent; 
  }

  .mission-and-vision__container__row__vision__p{
    font-size: 18px;
    text-align: initial;
    margin-bottom: 26px;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 7; /* number of lines to show */
           line-clamp: 6; 
   overflow: hidden;
   cursor: pointer;
    color: rgb(99, 99, 99);
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 300;
  }

  .mission-and-vision__container__row__vision__icon{
    text-align: center;
    margin: 0 auto;
  }

  .container__row__vision__icon-eye{
    font-size: 50px;
    vertical-align: middle;
    object-fit: cover;
  }