.services{
  /*   background-color: #061138; */
    margin-bottom: 0;
  }
  .services__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  
  .services__container__row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .services__container__row__title{
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    margin: 2rem 0;
    color: var(--color-blue);
    justify-content: center;
  }

  .services__container__row__item__list__item{
    margin-bottom: 1rem;
    text-align: left;
  }

  .services__container__row__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 35px;
  }

  .services__container__row__items--modifier{
    display: flex;
    padding: 30px 30px;
  }

  .services__container__row__item{
    margin-bottom: 30px;
    
  }

  .services__container__row__items__container{
    border-radius: 2%;
    margin: 1rem auto;
    background-color: #f1f1f1;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 390px;
    height: 400px;
    text-align: center;
    padding: 30px 30px;
    box-shadow: 0px 1px 11.04px 4.96px rgba(185, 175, 175, 0.52);
  }

  .services__container__row__items__container--modifier{
    margin: 1rem 1.25rem;
    margin-right: 1.3rem;
    padding: 30px 30px;
  }

  .services__container__row__item__icon{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1.7rem;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    border-radius: 50%;
    padding: 1rem;
  }

  .services__container__row__item__icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: var(--color-yellow);
    font-size: 2rem;
  }

  .services__container__row__item__title{
    margin: 1rem 0;
    margin-bottom: 1.5rem;
    color: var(--color-blue);
  }

  .services__container__row__item__text{
    font-weight: 500;
  }

  .services__container__row__item__list{
   cursor: pointer;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5; 
           line-clamp: 6; 
   overflow: hidden;
   list-style: decimal;
   color: rgb(99, 99, 99);
  line-height: 24px;
  font-weight: 300;
  }

  .services__container__row__item__list--modifier{
    cursor: pointer;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 6; 
           line-clamp: 6; 
   overflow: hidden;
   list-style: decimal;
  }

  .services__container__row__item__list:active{
    cursor: pointer;
    display: block;
    height: auto;
  }

  