/***sub-nav**/
.sub__nav{
  display: flex;
  line-height: 48px;
  z-index: 999;
  background: #f7f7f7;
  padding: 6px 0;
}

.sub__nav__container{
    display: flex;
    margin: 0 94px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .sub__nav__container__text{
    display: flex;
    align-items: center;
    color: var(--color-gray-text);
  }
  
  .sub__nav__text{
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 14px;
    margin: 0.5rem 0.8rem;
  }
  
  .sub__nav__container__text__icon{
    font-size: 1.2rem;
    margin-right: 0.6rem;
    color: var(--color-blue);
  }
  
  .sub__nav__container__donate{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .sub__nav__container__donate__icons{
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 25px;
  }
  
  .sub__nav__container__donate__icon{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0.6rem;
    font-size: 1.2rem;
    color: var(--color-gray-text);
  }
  .sub__nav__container__donate__icon--modifier{
    margin: inherit;
  }
  
  .sub__nav__container__donate__icon:hover{
    transition: all 0.9s;
    color: var(--color-blue);
  }

  /***nav***/

  .nav{
    padding: 25px 0;
  }
  
  .nav__container{
    margin: 0 94px;
  }
  
  .nav__container__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .nav__container__row__icons{
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }

  .nav__container__row__icon{
    display: flex;
    width: 80px;
    height: 72px;
  }

  .nav__container__row__list{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__container__row__list__ul{
    display: flex;
    list-style: none;
  padding-top: 0;
  padding-inline-start: 0px;
  }

  /*** Sub-lista ***/
  .nav__container__row__list__li--modifier{
    position: relative;
  }

  .nav__container__row__list__li--modifier:hover .nav__container__row__list__li__ul{
    list-style: none;
    border-radius: 2%;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 300ms ease desplegar 1;
    position: absolute;
    z-index: 700;
  }

  .nav__container__row__list__li--modifier .nav__container__row__list__li__ul{
    display: none;
  }

  .nav__container__row__list__li__ul-row{
    display: flex;
    flex-direction: column;
  }

  .nav__container__row__list__li__ul-row-1{
    display: flex;
    flex-direction: column;
  }

  .nav__container__row__list__li__ul-item{
    width: 160px;
    height: 45px;
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 0 0;
    font-size: 14px;
    font-weight: var(--fw-bold);
    text-decoration-line: none;
    text-transform: uppercase;
	  color: var(--color-dark);
  }
  .nav__container__row__list__li__ul-item:hover{
    position: relative;
    width: 160px;
    height: 45px;
    text-decoration-line: none;
    color: var(--color-white);
	  background: var(--color-blue-dark);
    transition: all 0.5s 0s ease-in;
  }

  /* Animaciones */
@keyframes desplegar {
  from {
    transform: scaleY(0.5);
    
    /* 
       La propiedad transform: scaleY(0.5) junto a la 
       propiedad transform-origin: left top; permitirá 
       crear un efecto visual de un submenú que se desenrrolla.
    */
  }
}
  
  /*** Cierre sub-lista ***/

  .nav__container__row__list__li{
    margin: 0 0.5rem;
    list-style: none;
  }

  .nav__container__row__list__li--active{
    color: var(--color-white);
    background-color: var(--color-white);
  }

  .nav__container__row__list__li__title {
    padding: 20px 16px;
    color: #303030;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: var(--fw-bold);
    outline: 0;
    line-height: 1.42857143;
    font-family: "Open Sans", sans-serif;
  }

  .nav__container__row__list__li__title--active{
    border-radius: 5%;
    background-color: var(--color-blue);
    color: var(--color-white);
  }


  .nav__container__row__list__li__title:hover{
    border-radius: 5%;
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: var(--duration-transition-base);
  }

  .indicator__icon{
    font-weight: bolder;
    margin-left: 9px;
  }
  
  .nav__container__row__icon__search{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50px;
    height: auto;
  }

  .nav__container__row__icon__search__btn{
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
    padding: 0.7rem;
    width: 40px;
    height: 40px;
    color: var(--color-blue);
    border: 1px solid #e1e1e1;
    text-align: center;
    border-radius: 50%;
  }
