.portfolio {
  margin-bottom: 0;
}
.portfolio__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}

.portfolio__container__row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.portfolio__container__row__title__text {
  padding: 2.5rem 0rem;
  font-size: 3.7rem;
  font-weight: lighter;
  color: var(--color-blue);
  text-align: center;
}
.portfolio__container__row__title__p {
  color: rgb(99, 99, 99);
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

.portfolio__container__row__images {
  display: flex;
  margin: 0.2rem 0rem 2.96rem 0rem;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.portfolio__container__row__images__container {
  position: relative;
  padding: 0rem;
  margin: 1rem 0.5rem;
  display: inline-flex;
  overflow: hidden;
  width: 25rem;
  height: 25rem;
}

.portfolio__container__row__images__container-img {
  margin: 0rem 0rem;
  object-fit: cover;
  border-radius: 1.2%;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  width: 400px;
  height: 400px;
}
.portfolio__container__row__images__container-img:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/*separador entre titulo e imagenes de galeria*/
hr {
  margin: 1.9rem 20rem;
  color: var(--color-red);
  background-color: currentColor;
  opacity: 0.25;
}
