/*estilos-predeterminados*/
:root {

  /* COLOR PALETTE*/
  /***************************/
  --color-fundepecsur: linear-gradient(90deg, rgba(254,0,0,1) 0%, rgba(24,70,218,1) 35%, rgba(254,235,60,1) 100%);
  --color-gray-mediem: #f8f9fa;
  --color-blue: #1944E0;
  --color-blue-dark: #102c8a;
  --color-gray: #F7F7F7;
  --color-gray-text: #999999;
  --color-green: #8DC63F;
  --color-green-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray-icon: #5e6c84;
  --color-gray-mediem: #817f7f;
  --color-gray-icon: #6b778c;
  --color-yellow: #F7ED47;
  --color-green: #37bb3e;
  --color-blue: #3b4fff;
  --color-blue-tittle-card: #172b4d;
  --color-red: #FB0000;
  --color-black: #161616;
  --color-white: #FFFFFF;
  --dynamic-background-color: hsl(150,2.7%,14.5%);
  --color-card: #ebecf0;
  --color-border-card: #091e4240;


  /* primary color */
  /* secondary color */
  /* tertiary color */

  /* accent color */
  --c-accent-lighter: #f0f0f0;
  --c-accent-darker: #00000d19;

  /* text color */
  --c-text-light: var(--c-accent-lighter);
  --c-text-dark: var(--c-accent-darker);

  /* background color */
  --c-background-light: var(--c-accent-lighter);


  /***************************/

  /* TYPOGRAFHY */
  /***************************/
  /* line height */
  --line-height-default: 20px;
  --line-height-tittle: 20px;
  --line-height-tittle-board: 32px;
  /* font size */
  --font-size-default: 14px;
  --font-size-icon: 14px;
  --font-size-title-card: 20px;
  --font-size-task: 14px;
  
  /* font family */
  --f-first: "Oswald", sans-serif;
  --f-second: "Raleway", sans-serif;
  --f-third: -apple-system, BlinkMacSystemFont, Segoe UI,Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

  /* font weight */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /***************************/

  /* THEME */
  /***************************/
  /* scale */
  --scale-xs: scale(0.90);

  /* transition */
  --duration-transition-base: 300ms ease-in-out;

  /***************************/

  /* LAYOUT */
  /***************************/
  /* separator */
  --gutter: 1rem; /* 16px */
  --gutter-header: 0.5rem;

  /* others */
  --max-width: 1240px;
  

  /***************************/


 }
