.about-area{
    display: flex;
    align-items: center;
    @media #{$md}{
      display: block;
    }
    @media #{$xs}{
      display: block;
    }
    @media #{$sm}{
      display: block;
    }
  
	.about-img{
		background-image: url(../img/gallery/abaout.png);
		background-size: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		overflow: hidden;
		
		height: 700px;
		width: 50%;

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
			-ms-flex-pack: end;
				justify-content: end;
		-webkit-box-align: end;
			-ms-flex-align: end;
				align-items: end;

		@media #{$xs}{
		width: 100%;
		height: 500px;
		}
		@media #{$sm}{
			width: 100%;
			height: 550px;
		}
		@media #{$md}{
			width: 100%;
			height: 600px;
		}
		.info-man{
			background: #044220;
			display: inline-block;
			padding: 23px 88px;
			@media #{$lg}{
				padding: 24px 54px;
			}	
			@media #{$sm}{
				padding: 24px 54px;
			}	
			@media #{$xs}{
				padding: 21px 19px;
			}	
			.head-cap{
				display: flex;
				margin-bottom: 20px;
				@media #{$xs}{
					margin-bottom: 9px;
				}
				svg{

				}
				h3{
					color: #fff;
					font-size: 40px;
					font-weight: 800;
					padding-left: 15px;
					line-height: 32px;
				}
			}
			p{
				color: #fff;
				margin: 0;
			}
		
			&.info-man2{
			background: #054e03;
			}
		}
		
	}


   
    .about-details{
		background-image: url(../img/gallery/section_bg02.png);
		background-size: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 700px;
        width: 50%;
		padding: 120px 75px;
		display: flex;
		align-items: center;

        @media #{$lg}{
            padding: 20px 20px 20px 50px;
        }
        @media #{$md}{
            width: 100%;
            padding: 50px 30px;
        }
        @media #{$sm}{
            width: 100%;
            padding: 50px 30px;
        }
        @media #{$xs}{
            width: 100%;
			padding: 50px 15px;
		}
		.right-caption{
			width: 69%;
			@media #{$big_screen}{
				width: 100%;
			}
			@media #{$lg}{
				width: 100%;
			}
			@media #{$sm}{
				width: 100%;
			}
			@media #{$xs}{
				width: 100%;
			}
			.about-more{
				 p.pera-top {
					font-size: 20px;
					font-weight: 500;
					color: #111111;
					margin-bottom: 25px;
					@media #{$laptop}{
						br{
							display: none;
						}
					}
					@media #{$lg}{
						br{
							display: none;
						}
					}
					@media #{$md}{
						br{
							display: none;
						}
					}
					@media #{$sm}{
						br{
							display: none;
						}
					}
					@media #{$xs}{
						br{
							display: none;
						}
					}
				}
				.pera-bottom{
					font-size: 16px;
					color: #776b6a;
				}

			}
		}

	}
}


.about-details{
	.about-details-cap{
		h4{
			font-size: 30px;
			font-family: $font_1;
			font-weight: 700;
			margin-bottom:30px;
			color:#000a2d;
			display: inline-block;
		}
		p{
			color: #464d65;
			font-size: 16px;
		}
	}
  }
  