.footer-area{
    .footer-pera{
        & p{
            color:#868c98;
            padding-right: 52px;
            @media #{$md}{
                padding-right: 0px;
            }
            @media #{$sm}{
               
            }
            font-size: 16px;
            margin-bottom: 50px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    .footer-tittle{
        & h4{
            color: #012f5f;
            font-size: 20px;
            margin-bottom: 29px;
            font-weight: 700;
        }
        & ul{
            li{
                margin-bottom: 9px;
                 a{
                    color: #506172;
                    font-weight: 300;
                    &:hover{
                        color: $theme-color;
                        padding-left: 5px;
                    }
                   
                }
            }
        }
    }
    .footer-form{
        margin-top: 40px;
        & form{
            position: relative;
            & input{
                width: 100%;
                height: 43px;
                padding: 10px 20px;
                border: 1px solid #fff;
            }
            & .form-icon{
                & button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    padding: 13px 22px;
                    background:$theme-color;
                    line-height: 1;
                }
            }
        }
    }
    .info.error {
        color:  $theme-color;
    }
}


.footer-bottom-area {
    .footer-border{
        border-top: 1px solid #d7e7fe;
        padding: 33px 0px 20px;
    }
    .footer-copy-right{
        & p{
            color: #222222;
            font-weight: 300;
            font-size: 18px;
            line-height: 2;
            margin-bottom: 12px;
            & i{
                color:$theme-color;
            }
            & a{
                color: $theme-color;
                &:hover{
                    
                }
                 
            }
        }
    }
}
.footer-social{
     a{
        color: #222222; 
        font-size: 20px;
       & i{
        margin-right: 12px;
        @include transition(.4s);
        &:hover{
            color: $theme-color;
        }
      
       }
    }
}