
.slider-height {
    height: 920px;
    @media #{$lg}{
        height: 700px;
    }
    @media #{$md}{
        height: 650px;
    }
    @media #{$sm}{
        height: 600px;
    }
    @media #{$xs}{
        height: 500px;
    }
}

.slider-height2{
    height: 440px;
    background-size: cover;
    @media #{$md}{
        height: 350px;
    }
    @media #{$sm}{
        height: 260px;
    }
    @media #{$xs}{
        height: 260px;
    }
}

.slider-area{
    position: relative;
    background-image: url(../img/hero/h1_hero.png);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$sm}{
       padding-top: 30px;
    }
    @media #{$xs}{
        padding-top: 80px;
    }
    .hero__caption{
       overflow: hidden;
        @media #{$large1}{
            margin-left: 50px;
        }
        @media #{$lg}{
            margin-left: 50px;
        }
        @media #{$md}{
            margin-left: 50px;
        }
        @media #{$xs}{
            margin-top: 17px;
        }
        position: relative;
         span{
            display: inline-block;
            font-size: 18px;
            color: #222222;
            text-transform: normal;
            margin-bottom: 20px;
        }
         h1{
            font-size: 70px;
            font-weight: 900;
            color: #111111;
            line-height: 1.3;
            margin-bottom: 23px;
            overflow: hidden;
            @media #{$large1}{
                font-size: 60px;
            }
            @media #{$lg}{
                font-size: 55px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 29px;
            }
            @media #{$xs}{
                font-size: 29px;
                line-height: 1.4;
            }
        }
         p{
           margin-bottom: 30px;
           padding-right: 155px;
            color: #776b6a;
            overflow: hidden;
           @media #{$md}{
                padding-right: 0px;
            }
           @media #{$xs}{
                padding-right: 0px;
            }
        }
        a{
            color: #111111;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 500;
            display: block;
            overflow: hidden;
            i{
                position: relative;
                top: 2px;
                left: 10px;
            }
        }
    }

    .dot-style{
        .slick-dots {
            text-align: left;
            bottom: 0;
            position: absolute;
            top: 63%;
            left: 7%;
            @media #{$laptop}{
                left: 3%;
            }
            @media #{$lg}{
                left: 3%;
            }
            li {
                display: block;
            }
            .slick-active button {
                background: #222;
                height: 34px;
                width: 3px;
            }
            button {
                text-indent: -100000px;
                height: 20px;
                width: 3px;
                border: 0;
                padding: 0;
                margin-right: 10px;
                cursor: pointer;
                border-radius: 0;
                margin-bottom: 7px;
                background: #a3a3a3;
            }

        }
    }
}

.slider-area2{
    background-image: url(../img/hero/hero2.png);
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    .hero-cap{
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 50px;
        }
        h2{
            color: #111111;
            font-size: 50px;
            font-weight: 900;
            text-transform: capitalize;
            @media #{$sm}{
                font-size: 38px;
            }
            @media #{$xs}{
                font-size: 36px;
            }
        }
    }
}


.video-icon{
    margin-bottom: 50px;
    @media #{$xs}{
        right: 27px;
        bottom: 27px;
    }
    @media #{$large1}{
        padding-left: 50px;
    }
    @media #{$lg}{
        padding-left: 50px;
    }
    @media #{$md}{
        padding-left: 50px;
    }
    a{
         background:#232024;
         width: 60px;
         height: 60px;
         display: inline-block;
         text-align: center;
         line-height: 60px;
         border-radius: 50%;
         i{
         color: #fff;;
         }
         @media #{$sm}{
            width: 50px;
            height: 50px; 
            line-height: 50px;
        }
         @media #{$xs}{
            width: 50px;
            height: 50px; 
            line-height: 50px;
        }
    } 
   
    a.btn-icon{
        position: relative;
      &::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: inherit;
        border: 1px solid #232024;
        -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
      }
      /* Animations */
        @-webkit-keyframes btnIconRipple { 
            0% { border-width: 4px;
                -webkit-transform: scale(1);
                transform: scale(1); }
            50% { 
                border-width: 1px;
                -webkit-transform: scale(1.50);
                transform: scale(1.50); 
                }
            80% { 
                border-width: 1px;
                -webkit-transform: scale(1.90);
                transform: scale(1.90); 
                }
            100% { 
                opacity: 0; }
            }
        
        &:hover{
           
            background: #055c1f;
            color: #fff;
        }
    }
 }

.button-text{
    position: absolute;
    left: 5%;
    transform: rotate(90deg);
    top: 55%;
    padding-left: 9px;
    @media #{$laptop}{
        left: 1%;
        padding-left: 0;
    }
    @media #{$lg}{
        left: 0%;
        padding-left: 8px;
    }
    @media #{$md}{
        bottom: 48%;
        padding-left: 0px;
    }
    span {
        color: #45455f;
        margin-left: 18px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
    }
}
