.our-services{    
    .single-services{
        border: 1px solid transparent;
        background: #fff7fe;
        border-radius: 6px;
        padding: 79px 33px;
        @media #{$xs}{
			padding: 47px 19px;
        }
        @media #{$sm}{
			padding: 47px 19px;
        }
        @media #{$md}{
			padding: 56px 32px;
        }
        @media #{$lg}{
			padding: 46px 23px;
        }
        
        @include transition(.4s);
        &:hover {
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
        }
        .services-ion{
            span{
                font-size: 60px;
                margin-bottom: 13px;
                color: #055c1f;
                @include transition(.4s);
                font-size: 50px;
                margin-bottom: 30px;
                display: block;
                margin-bottom: 50px;
                width: 100px;
                height: 100px;
                background: #ffedf2;
                line-height: 100px;
                text-align: center;
                border-radius: 50px;
                display: inline-block;
            }
        }
        .services-cap{
            padding: 0 16px;
            @media #{$sm}{
                padding: 0;
            }
            @media #{$md}{
                padding: 0;
            }
            h5{
                a{
                    font-weight: 600;
                    font-size: 18px;
                    color: #001f38;
                    line-height: 1.4;
                    margin-bottom: 20px;
                }
            }
        }
        &:hover{
            border: 1px solid #f8c7b7;
            background: #fff;
            .services-ion{
                span{
                    color: $theme-color;
                }
            }
            h5{
                a{
                    color: $theme-color;
                }
            }
        }
    }
}
