.testimonial-area{
    .testimonial-caption{
        .testimonial-top-cap{
            & img{
                margin-bottom: 50px;
                width: auto;
                display: inline-block;
                @media #{$md}{
                    margin-bottom: 30px;
                }
                @media #{$xs}{
                    margin-bottom: 30px;
                }
            }
            & p{
                color: #fff;
                font-weight: 400;
                line-height: 2.1;
                padding: 0 26px;
                margin-bottom: 50px;
                font-size: 24px;
                margin-bottom: 30px;
               font-style: italic;
               
                @media #{$lg}{
                    font-size: 18px;
                    line-height: 1.6;
                    font-size: 16px;
                }
               
                @media #{$md}{
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 1.7;
                    padding: 0 ;
                    font-size: 17px;
                }
                @media #{$sm}{
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 1.7;
                    padding: 0 5px;
                    font-size: 18px;
                }
                @media #{$xs}{
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 1.7;
                    padding: 0 5px;
                    font-size: 18px;
                }
            }
        }
        .testimonial-founder{
            .founder-img{
                 img{
                    margin-bottom:30px;
                    display: inline-block;
                    font-weight: 300;
                }
                span{
                    color: #fff;
                    font-size:25px;
                    font-weight: 700;
                    line-height: 1;
                    display: block;
                    font-family: $font_1;
                    margin-bottom: 10px;
                }
            }
        }
    }
        
    
    .dot-style .slick-dots {
        text-align: center;
        bottom: -49px;
        left: 0;
        right: 0;
        position: absolute;
    }
    .dot-style .slick-dots li {
        display: inline-block;
    }
    .dot-style .slick-dots button {
        text-indent: -100000px;
        height: 9px;
        width: 9px;
        border: 0;
        padding: 0;
        margin:0 4px;
        cursor: pointer;
        border-radius:50%;
        background:#055c1f;
    }
    .dot-style .slick-dots  .slick-active button{
        background: #fff;
    }
  

}
.slick-initialized .slick-slide {
    outline: 0;
}