.btn__donate{
  padding: 0.8rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(254,0,0,1) 0%, rgba(24,70,218,1) 35%, rgba(254,235,60,1) 100%);
  border: 1px solid rgba(254,235,60,1);
  color: var(--color-white);
  font-weight: 700;
}

.btn__donate:hover{
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  background: var(--color-blue);
  transition: all 0.5s 0s ease-in;
}

.galeria__slider__container__info__btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria__slider__container__info__btn{
  margin: 0.9rem 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
}

.galeria__slider__container__info__btn:hover{
  background: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
  transition: all 0.5s 0s ease-in;
}

.galeria__slider__container__info__btn--modifier{
  background: transparent;
  border: 1px solid white;
}

.galeria__slider__container__info__btn--modifier:hover{
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  background: var(--color-blue);
  transition: all 0.5s 0s ease-in;
}

.scroll-top-btn{
  position: fixed;
  z-index: 1000;
  bottom: 1vh;
  cursor: pointer;
  outline: 0;
  border: 0;
  left: calc(79.25rem + 1vh);
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all 0.3s ease-out;
}
.scroll-top-btn:hover{
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}
.hidden{
  opacity: 0;
  visibility: hidden;
}

.about-us__container__info__btn{
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
}

.about-us__container__info__btn:hover{
  background: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
  transition: all 0.5s 0s ease-in;
}

.mission-and-vision__container__btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-and-vision__container__btn{
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: var(--color-white);
  font-weight: 700;
}

.mission-and-vision__container__btn:hover{
  background: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
  transition: all 0.5s 0s ease-in;
}