
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 ;
  -webkit-border-radius: 0 0 0 0 ;
  background: none ;
  border: 0 ;
  bottom: auto ;
  float: none ;
  height: auto ;
  left: auto ;
  line-height: 1.1em ;
  margin: 0 ;
  outline: 0 ;
  overflow: visible ;
  padding: 0 ;
  position: static ;
  right: auto ;
  text-align: left ;
  top: auto ;
  vertical-align: baseline ;
  width: auto ;
  box-sizing: content-box ;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace ;
  font-weight: normal ;
  font-style: normal ;
  font-size: 1em ;
  min-height: inherit ;
  min-height: auto ;
}

.syntaxhighlighter {
  width: 100% ;
  margin: 1em 0 1em 0 ;
  position: relative ;
  overflow: auto ;
  font-size: 1em ;
}
.syntaxhighlighter.source {
  overflow: hidden ;
}
.syntaxhighlighter .bold {
  font-weight: bold ;
}
.syntaxhighlighter .italic {
  font-style: italic ;
}
.syntaxhighlighter .line {
  white-space: pre ;
}
.syntaxhighlighter table {
  width: 100% ;
}
.syntaxhighlighter table caption {
  text-align: left ;
  padding: .5em 0 0.5em 1em ;
}
.syntaxhighlighter table td.code {
  width: 100% ;
}
.syntaxhighlighter table td.code .container {
  position: relative ;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box ;
  position: absolute ;
  left: 0 ;
  top: 0 ;
  width: 100% ;
  height: 100% ;
  border: none ;
  background: white ;
  padding-left: 1em ;
  overflow: hidden ;
  white-space: pre ;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right ;
  padding: 0 0.5em 0 1em ;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em ;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em ;
}
.syntaxhighlighter.show {
  display: block ;
}
.syntaxhighlighter.collapsed table {
  display: none ;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em ;
  font-size: 1em ;
  position: static ;
  width: auto ;
  height: auto ;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline ;
  margin-right: 1em ;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 ;
  display: none ;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline ;
}
.syntaxhighlighter .toolbar {
  position: absolute ;
  right: 1px ;
  top: 1px ;
  width: 11px ;
  height: 11px ;
  font-size: 10px ;
  z-index: 10 ;
}
.syntaxhighlighter .toolbar span.title {
  display: inline ;
}
.syntaxhighlighter .toolbar a {
  display: block ;
  text-align: center ;
  text-decoration: none ;
  padding-top: 1px ;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none ;
}
.syntaxhighlighter.ie {
  font-size: .9em ;
  padding: 1px 0 1px 0 ;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px ;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px ;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none ;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb ;
}
.syntaxhighlighter.printing .line .content {
  color: black ;
}
.syntaxhighlighter.printing .toolbar {
  display: none ;
}
.syntaxhighlighter.printing a {
  text-decoration: none ;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black ;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 ;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue ;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 ;
  font-weight: bold ;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray ;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 ;
}
.syntaxhighlighter.printing .value {
  color: #009900 ;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 ;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc ;
}
.syntaxhighlighter.printing .script {
  font-weight: bold ;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray ;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 ;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: #055c1f ;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black ;
}

.syntaxhighlighter {
  background-color: #0a2b1d ;
}
.syntaxhighlighter .line.alt1 {
  background-color: #0a2b1d ;
}
.syntaxhighlighter .line.alt2 {
  background-color: #0a2b1d ;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #233729 ;
}
.syntaxhighlighter .line.highlighted.number {
  color: white ;
}
.syntaxhighlighter table caption {
  color: #f8f8f8 ;
}
.syntaxhighlighter .gutter {
  color: #497958 ;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #41a83e ;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #41a83e ;
  color: #0a2b1d ;
}
.syntaxhighlighter.printing .line .content {
  border: none ;
}
.syntaxhighlighter.collapsed {
  overflow: visible ;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #96dd3b ;
  background: black ;
  border: 1px solid #41a83e ;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #96dd3b ;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: white ;
}
.syntaxhighlighter .toolbar {
  color: white ;
  background: #41a83e ;
  border: none ;
}
.syntaxhighlighter .toolbar a {
  color: white ;
}
.syntaxhighlighter .toolbar a:hover {
  color: #ffe862 ;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #f8f8f8 ;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #9df39f ;
}
.syntaxhighlighter .keyword {
  color: #96dd3b ;
}
.syntaxhighlighter .preprocessor {
  color: #91bb9e ;
}
.syntaxhighlighter .variable {
  color: #ffaa3e ;
}
.syntaxhighlighter .value {
  color: #f7e741 ;
}
.syntaxhighlighter .functions {
  color: #ffaa3e ;
}
.syntaxhighlighter .constants {
  color: #e0e8ff ;
}
.syntaxhighlighter .script {
  font-weight: bold ;
  color: #96dd3b ;
  background-color: none ;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #eb939a ;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #91bb9e ;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #edef7d ;
}

.syntaxhighlighter .comments {
  font-style: italic ;
}
.syntaxhighlighter .keyword {
  font-weight: bold ;
}
