
.syntaxhighlighter {
  background-color: #222222 ;
}
.syntaxhighlighter .line.alt1 {
  background-color: #222222 ;
}
.syntaxhighlighter .line.alt2 {
  background-color: #222222 ;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #253e5a ;
}
.syntaxhighlighter .line.highlighted.number {
  color: white ;
}
.syntaxhighlighter table caption {
  color: lime ;
}
.syntaxhighlighter .gutter {
  color: #38566f ;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f ;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f ;
  color: #222222 ;
}
.syntaxhighlighter.printing .line .content {
  border: none ;
}
.syntaxhighlighter.collapsed {
  overflow: visible ;
}
.syntaxhighlighter.collapsed .toolbar {
  color: #428bdd ;
  background: black ;
  border: 1px solid #435a5f ;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: #428bdd ;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: lime ;
}
.syntaxhighlighter .toolbar {
  color: #aaaaff ;
  background: #435a5f ;
  border: none ;
}
.syntaxhighlighter .toolbar a {
  color: #aaaaff ;
}
.syntaxhighlighter .toolbar a:hover {
  color: #9ccff4 ;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: lime ;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #428bdd ;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: lime ;
}
.syntaxhighlighter .keyword {
  color: #aaaaff ;
}
.syntaxhighlighter .preprocessor {
  color: #8aa6c1 ;
}
.syntaxhighlighter .variable {
  color: aqua ;
}
.syntaxhighlighter .value {
  color: #f7e741 ;
}
.syntaxhighlighter .functions {
  color: #ff8000 ;
}
.syntaxhighlighter .constants {
  color: yellow ;
}
.syntaxhighlighter .script {
  font-weight: bold ;
  color: #aaaaff ;
  background-color: none ;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #055c1f ;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: yellow ;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #ffaa3e ;
}
